# Lending Club Case Study

In [26]:
# Import necessaries libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings


warnings.filterwarnings('ignore')

In [27]:
pd.set_option('display.max_rows', 10000)

pd.set_option('display.max_columns', 120)

pd.options.display.float_format = '{:.2f}'.format

## Reading the data

In [28]:
raw_loan_data = pd.read_csv('loan.csv')
raw_loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.00,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.00,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.16,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.00,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.00,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.00,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.71,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.00,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.00,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.00,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.67,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.00,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.00,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.00,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.00,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.89,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.00,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.00,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.00,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.00,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.33,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.00,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN

In [29]:
# understand data shape, rowas and clumns
raw_loan_data.shape

(39717, 111)

In [30]:
raw_loan_data.isna().sum()

id                                    0
member_id                             0
loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
emp_title                          2459
emp_length                         1075
home_ownership                        0
annual_inc                            0
verification_status                   0
issue_d                               0
loan_status                           0
pymnt_plan                            0
url                                   0
desc                              12942
purpose                               0
title                                11
zip_code                              0
addr_state                            0
dti                                   0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq            25682
mths_since_last_record            36931
open_acc                              0
pub_rec                               0
revol_bal                             0
revol_util                           50
total_acc                             0
initial_list_status                   0
out_prncp                             0
out_prncp_inv                         0
total_pymnt                           0
total_pymnt_inv                       0
total_rec_prncp                       0
total_rec_int                         0
total_rec_late_fee                    0
recoveries                            0
collection_recovery_fee               0
last_pymnt_d                         71
last_pymnt_amnt                       0
next_pymnt_d                      38577
last_credit_pull_d                    2
collections_12_mths_ex_med           56
mths_since_last_major_derog       39717
policy_code                           0
application_type                      0
annual_inc_joint                  39717
dti_joint                         39717
verification_status_joint         39717
acc_now_delinq                        0
tot_coll_amt                      39717
tot_cur_bal                       39717
open_acc_6m                       39717
open_il_6m                        39717
open_il_12m                       39717
open_il_24m                       39717
mths_since_rcnt_il                39717
total_bal_il                      39717
il_util                           39717
open_rv_12m                       39717
open_rv_24m                       39717
max_bal_bc                        39717
all_util                          39717
total_rev_hi_lim                  39717
inq_fi                            39717
total_cu_tl                       39717
inq_last_12m                      39717
acc_open_past_24mths              39717
avg_cur_bal                       39717
bc_open_to_buy                    39717
bc_util                           39717
chargeoff_within_12_mths             56
delinq_amnt                           0
mo_sin_old_il_acct                39717
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
dtype: int64

## It is observed that there are a lot of columns with all null values. Let's first remove them

In [31]:
raw_loan_data.dropna(axis=1, how='all', inplace=True)
raw_loan_data.shape

(39717, 57)

## multiple colums are not required for this Analysis so deleting those columns

In [32]:
columns_to_drop = [
    "acc_now_delinq", "application_type", "chargeoff_within_12_mths", "collections_12_mths_ex_med", 
    "delinq_amnt", "initial_list_status", "policy_code", "pymnt_plan", "url", "zip_code", "desc", 
    "emp_title", "funded_amnt", "id", "member_id", "out_prncp", "out_prncp_inv", "recoveries", "revol_bal", 
    "title", "total_pymnt", "total_pymnt_inv", "total_rec_int", "total_rec_late_fee", "total_rec_prncp",
    "mths_since_last_delinq", "mths_since_last_record", "next_pymnt_d", "collection_recovery_fee",
    "last_credit_pull_d", "last_pymnt_amnt", "last_pymnt_d", "pub_rec_bankruptcies", "tax_liens", "delinq_2yrs"
]

raw_loan_data = raw_loan_data.drop(columns = columns_to_drop)

In [39]:
#Check Dataframe shape
raw_loan_data.shape

(39717, 22)

In [40]:
raw_loan_data.isna().sum()
#Identify null values in dataframe

loan_amnt                 0
funded_amnt_inv           0
term                      0
int_rate                  0
installment               0
grade                     0
sub_grade                 0
emp_length             1075
home_ownership            0
annual_inc                0
verification_status       0
issue_d                   0
loan_status               0
purpose                   0
addr_state                0
dti                       0
earliest_cr_line          0
inq_last_6mths            0
open_acc                  0
pub_rec                   0
revol_util               50
total_acc                 0
dtype: int64

In [42]:
raw_loan_data.columns
#Check dataframe columns

Index(['loan_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment',
       'grade', 'sub_grade', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'purpose',
       'addr_state', 'dti', 'earliest_cr_line', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_util', 'total_acc'],
      dtype='object')

In [38]:
raw_loan_data['loan_status'].value_counts()

loan_status
Fully Paid     32950
Charged Off     5627
Current         1140
Name: count, dtype: int64

In [12]:
raw_loan_data = raw_loan_data[raw_loan_data['loan_status'] != 'Current']
raw_loan_data.shape

(38577, 22)

## Understand Percentage of na values in dataframe

In [43]:
(raw_loan_data.isna().sum()/raw_loan_data.shape[0])*100

loan_amnt             0.00
funded_amnt_inv       0.00
term                  0.00
int_rate              0.00
installment           0.00
grade                 0.00
sub_grade             0.00
emp_length            2.71
home_ownership        0.00
annual_inc            0.00
verification_status   0.00
issue_d               0.00
loan_status           0.00
purpose               0.00
addr_state            0.00
dti                   0.00
earliest_cr_line      0.00
inq_last_6mths        0.00
open_acc              0.00
pub_rec               0.00
revol_util            0.13
total_acc             0.00
dtype: float64

In [44]:
raw_loan_data=raw_loan_data.dropna(subset=['revol_util'])

In [45]:
(raw_loan_data.isna().sum()/raw_loan_data.shape[0])*100

loan_amnt             0.00
funded_amnt_inv       0.00
term                  0.00
int_rate              0.00
installment           0.00
grade                 0.00
sub_grade             0.00
emp_length            2.70
home_ownership        0.00
annual_inc            0.00
verification_status   0.00
issue_d               0.00
loan_status           0.00
purpose               0.00
addr_state            0.00
dti                   0.00
earliest_cr_line      0.00
inq_last_6mths        0.00
open_acc              0.00
pub_rec               0.00
revol_util            0.00
total_acc             0.00
dtype: float64

In [46]:
emp_length_mode = raw_loan_data.emp_length.mode()[0]
raw_loan_data.fillna(emp_length_mode, inplace = True)
(raw_loan_data.isna().sum()/raw_loan_data.shape[0])*100

loan_amnt             0.00
funded_amnt_inv       0.00
term                  0.00
int_rate              0.00
installment           0.00
grade                 0.00
sub_grade             0.00
emp_length            0.00
home_ownership        0.00
annual_inc            0.00
verification_status   0.00
issue_d               0.00
loan_status           0.00
purpose               0.00
addr_state            0.00
dti                   0.00
earliest_cr_line      0.00
inq_last_6mths        0.00
open_acc              0.00
pub_rec               0.00
revol_util            0.00
total_acc             0.00
dtype: float64

In [47]:
clean_loan_data = raw_loan_data
clean_loan_data.head()

,loan_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,addr_state,dti,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_util,total_acc
0,5000,4975.00,36 months,10.65%,162.87,B,B2,10+ years,RENT,24000.00,Verified,Dec-11,Fully Paid,credit_card,AZ,27.65,Jan-85,1,3,0,83.70%,9
1,2500,2500.00,60 months,15.27%,59.83,C,C4,< 1 year,RENT,30000.00,Source Verified,Dec-11,Charged Off,car,GA,1.00,Apr-99,5,3,0,9.40%,4
2,2400,2400.00,36 months,15.96%,84.33,C,C5,10+ years,RENT,12252.00,Not Verified,Dec-11,Fully Paid,small_business,IL,8.72,Nov-01,2,2,0,98.50%,10
3,10000,10000.00,36 months,13.49%,339.31,C,C1,10+ years,RENT,49200.00,Source Verified,Dec-11,Fully Paid,other,CA,20.00,Feb-96,1,10,0,21%,37
4,3000,3000.00,60 months,12.69%,67.79,B,B5,1 year,RENT,80000.00,Source Verified,Dec-11,Current,other,OR,17.94,Jan-96,0,15,0,53.90%,38

In [48]:
clean_loan_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39667 entries, 0 to 39716
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   loan_amnt            39667 non-null  int64
 1   funded_amnt_inv      39667 non-null  float64
 2   term                 39667 non-null  object
 3   int_rate             39667 non-null  object
 4   installment          39667 non-null  float64
 5   grade                39667 non-null  object
 6   sub_grade            39667 non-null  object
 7   emp_length           39667 non-null  object
 8   home_ownership       39667 non-null  object
 9   annual_inc           39667 non-null  float64
 10  verification_status  39667 non-null  object
 11  issue_d              39667 non-null  object
 12  loan_status          39667 non-null  object
 13  purpose              39667 non-null  object
 14  addr_state           39667 non-null  object
 15  dti                  39667 non-null  float64
 16  earliest_cr_line     39667 non-null  object
 17  inq_last_6mths       39667 non-null  int64
 18  open_acc             39667 non-null  int64
 19  pub_rec              39667 non-null  int64
 20  revol_util           39667 non-null  object
 21  total_acc            39667 non-null  int64
dtypes: float64(4), int64(5), object(13)
memory usage: 7.0+ MB

In [49]:
clean_loan_data['loan_amnt'] = clean_loan_data['loan_amnt'].astype('float')
clean_loan_data['issue_d'] = pd.to_datetime(clean_loan_data['issue_d'], format='%b-%y')
clean_loan_data['earliest_cr_line'] = pd.to_datetime(clean_loan_data['earliest_cr_line'], format='%b-%y')

In [20]:
clean_loan_data['term'].value_counts()

term
36 months    29049
60 months     9478
Name: count, dtype: int64

In [21]:
clean_loan_data['term'] = clean_loan_data['term'].str.extract('(\d+)').astype('int')
clean_loan_data['term'].value_counts()

term
36    29049
60     9478
Name: count, dtype: int64

In [22]:
clean_loan_data['int_rate'].value_counts().head()

int_rate
10.99%    913
11.49%    790
7.51%     787
13.49%    749
7.88%     725
Name: count, dtype: int64

In [23]:
clean_loan_data['int_rate'] = clean_loan_data['int_rate'].apply(lambda x: float(x[:-1]))
clean_loan_data['int_rate'].value_counts().head()

int_rate
10.99    913
11.49    790
7.51     787
13.49    749
7.88     725
Name: count, dtype: int64

In [24]:
clean_loan_data['revol_util'] = clean_loan_data['revol_util'].apply(lambda x: float(x[:-1]))
clean_loan_data['revol_util'].value_counts().head()

revol_util
0.00     954
0.20      62
63.00     62
40.70     57
31.20     57
Name: count, dtype: int64

In [25]:
clean_loan_data['emp_length'].value_counts()

emp_length
10+ years    9517
< 1 year     4496
2 years      4286
3 years      4008
4 years      3335
5 years      3190
1 year       3163
6 years      2165
7 years      1708
8 years      1433
9 years      1226
Name: count, dtype: int64

In [26]:
def clean_emp_time(value):
    value = value.replace('years','').replace('year','').replace('+','').strip()
    if '<' in value:
        return 0
    return int(value)

clean_loan_data['emp_length'] = clean_loan_data['emp_length'].apply(clean_emp_time)
clean_loan_data['emp_length'].value_counts()

emp_length
10    9517
0     4496
2     4286
3     4008
4     3335
5     3190
1     3163
6     2165
7     1708
8     1433
9     1226
Name: count, dtype: int64

In [27]:
clean_loan_data['verification_status'].value_counts()

verification_status
Not Verified       16665
Verified           12196
Source Verified     9666
Name: count, dtype: int64

In [28]:
clean_loan_data['verification_status'] = clean_loan_data['verification_status'].replace({
    'Source Verified': 'Verified'
})
clean_loan_data['verification_status'].value_counts()

verification_status
Verified        21862
Not Verified    16665
Name: count, dtype: int64

In [29]:
clean_loan_data['home_ownership'].value_counts()

home_ownership
RENT        18448
MORTGAGE    17010
OWN          2970
OTHER          96
NONE            3
Name: count, dtype: int64

In [30]:
clean_loan_data['home_ownership'] = clean_loan_data['home_ownership'].replace({
    'NONE': 'OTHER'
})
clean_loan_data['home_ownership'].value_counts()

home_ownership
RENT        18448
MORTGAGE    17010
OWN          2970
OTHER          99
Name: count, dtype: int64

In [31]:
clean_loan_data['issue_d_month'] = pd.DatetimeIndex(clean_loan_data['issue_d']).month
clean_loan_data['issue_d_year'] = pd.DatetimeIndex(clean_loan_data['issue_d']).year

loan_data = clean_loan_data
loan_data.head()

,loan_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,addr_state,dti,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_util,total_acc,issue_d_month,issue_d_year
0,5000.00,4975.00,36,10.65,162.87,B,B2,10,RENT,24000.00,Verified,2011-12-01,Fully Paid,credit_card,AZ,27.65,1985-01-01,1,3,0,83.70,9,12,2011
1,2500.00,2500.00,60,15.27,59.83,C,C4,0,RENT,30000.00,Verified,2011-12-01,Charged Off,car,GA,1.00,1999-04-01,5,3,0,9.40,4,12,2011
2,2400.00,2400.00,36,15.96,84.33,C,C5,10,RENT,12252.00,Not Verified,2011-12-01,Fully Paid,small_business,IL,8.72,2001-11-01,2,2,0,98.50,10,12,2011
3,10000.00,10000.00,36,13.49,339.31,C,C1,10,RENT,49200.00,Verified,2011-12-01,Fully Paid,other,CA,20.00,1996-02-01,1,10,0,21.00,37,12,2011
5,5000.00,5000.00,36,7.90,156.46,A,A4,3,RENT,36000.00,Verified,2011-12-01,Fully Paid,wedding,AZ,11.20,2004-11-01,3,9,0,28.30,12,12,2011